# Environment files
.env
server/.env
client/.env

# Dependencies
node_modules/
client/node_modules/
server/vendor/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build files
dist/
build/

# Laravel cache
server/storage/*.key
server/storage/logs/*
server/bootstrap/cache/*