APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:AOZBDy8Qe3XYialb3DmCsWE5XS1YokhY/ZmR6RasoDs=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3307
DB_DATABASE=donation_app_cse3100
DB_USERNAME=root
DB_PASSWORD=root

ADMIN_EMAIL=admin@example.com

FRONTEND_URL=http://localhost:5173

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=mujaddedc@gmail.com
MAIL_PASSWORD=brmfhlxucqgssqrv
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=mujaddedc@gmail.com
MAIL_FROM_NAME="WarmConnect"